<!doctype html>
<html>
    <body>
        <head>
            <title>Sign-up</title>
        </head>
        <main>
            <h1>Signup</h1>
            <form action= "/" method="GET">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <label>Username: </label>
                            </td>
                            <td>
                                <input type= "text" name ="username"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Password:</label>
                            </td>
                            <td>
                                <input type="text" name="password"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Verify Password:</label>
                            </td>
                            <td>
                                <input type= "text" name ="password"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Email (optional):</label>
                            </td>
                            <td>
                                <input type= "text" name ="email"/>
                                </td>
                        </tr>
                    </tbody>
                </table>
                <input type="submit" value="Submit"/>
            </form>
        </main>
    </body>
</html>