<!doctype html>
<html>
    <body>
        <head>
            <title>Sign-up</title>
        </head>
        <main>
            <h1>Signup</h1>
            <form action= "/home" method = "get">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <label>Username: </label>
                            </td>
                            <td>
                                <input type= "text" name ="username" value ="{{username}}" />
                                <span>{{username_error}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Password:</label>
                            </td>
                            <td>
                                <input type="password" name="password"/>
                                <span>{{password_error}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Verify Password:</label>
                            </td>
                            <td>
                                <input type= "password" name ="password2"/>
                                <span>{{password_error}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Email (optional):</label>
                            </td>
                            <td>
                                <input type= "text" name ="email" value="{{email}}"/>
                                {% if email_error %}
                                <span>{{email_error}}</span>
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <input type="submit" value="Submit"/>
            </form>
        </main>
    </body>
</html>